# Dependency directories
node_modules/
packages/

# Build and development directories
dist/
coverage/
.cache/
.next/
out/
.env.local

# Editor/IDE files
.vscode/
.idea/

# Logs and temporary files
logs/
temp/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS-specific files
.DS_Store

# Environment configuration files
.env

# Node.js specific files
package-lock.json
npm-shrinkwrap.json